services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "echo 'Access the app at http://127.0.0.1:8000/' && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
